<div id="sp">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1">
				<h2><span class="headerblue">Jeremy Caine</span> About</h2>
				<h4>Front End Web Developer / Designer</h4>
			</div>
		</div>
	</div>
</div>
<div id="about">
	<div class="container">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-1 desc aboutIntro">
				<h2>Hi!</h2>
				<p>Welcome to my portfolio! My name is Jeremy Caine, and I love to create things for the web. I have been doing front-end web development/design since 2000 at many video game companies.</p>
				<p>In 2008, I took a two year break and moved to South Korea where I spent my time studying the Korean language and learning about the Korean people and their culture. After my time there, I returned to the US and did freelance web development and design work until I became a Web Author in early 2012.</p>
				<p>I moved back to California in 2013 and took an Interactive Designer role at BANDAI NAMCO Entertainment which is where I am presently. I'm currently looking for opportunities to further my web development skills that may benefit both myself and those I work for.</p>
				<p>Thank you for viewing my portfolio!</p>
			</div>
			<div class="col-lg-4 desc aboutOther">
				<h3>My skills</h3>
				<p>Front End web development | HTML | CSS | Bootstrap | JavaScript | WordPress | Graphic Design | Production Design | UI Design | Photoshop | Illustrator | Flash</p>
				
				<h3>Experience with:</h3>
				<p>Angular | PHP | UNIX | AJAX | JSON</p>

				<h3>Learning:</h3>
				<p>Angular | Gulp | SASS | Ecmascript 6 | Typescript | Meteor.js | React</p>

				<h3>My resume:</h3>
				<p><a href="https://docs.google.com/document/d/1ijL9msfLpa4EZU2IXFwoWjpTpNfV5qZ9agfaPocsYro/edit?usp=sharing" target="_blank"><i class="fa fa-file"></i> On Google Docs</a></p>
				<h3>Contact me:</h3>
				<p><a href="https://www.linkedin.com/in/in23h" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a> | 
				<a href="https://github.com/in23h" target="_blank"><i class="fa fa-github"></i> Github</a> | 
				<a href="mailto:in23h@yahoo.com"><i class="fa fa-envelope"></i> Email</a></p>
								
				
			</div>
		</div>
	</div>
</div>