<!-- Menu -->
<nav class="menu" id="theMenu">
	<div class="menu-wrap">
		<!--<h1 class="logo"><a ui-sref="home">Jeremy Caine</a></h1>-->
		<i class="fa fa-times menu-close" ng-click="toggleNav()"></i>
		<a ui-sref="home">Portfolio</a>
		<a ui-sref="home.about">About</a>
		<a href="http://www.in23h.com" target="_blank">Personal site</a>
		<a href="https://www.linkedin.com/in/in23h" target="_blank"><i class="fa fa-linkedin"></i></a>
		<a href="https://github.com/in23h" target="_blank"><i class="fa fa-github"></i></a>
		<a href="mailto:in23h@yahoo.com"><i class="fa fa-envelope"></i></a>
	</div>
	
	<!-- Menu button -->
	<div id="menuToggle" ng-click="toggleNav()"><i class="fa fa-bars"></i></div>
</nav>